<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if !IE]><!--> <html lang="en" xmlns:th="http://www.thymeleaf.org"> <!--<![endif]-->
<head th:replace="common :: head">
</head>

<body class="header-fixed">

	<div class="wrapper">
		<!--=== Header v5 ===-->
		<div th:replace="common :: headerv5">
		</div>
		<!--=== End Header v5 ===-->

		<!--=== Breadcrumbs v4 ===-->
		<div class="breadcrumbs-v4">
			<div class="container">
				<span class="page-name">Registration</span>
				<h1>Your <span class="shop-green">Account</span> Registration</h1>
				<ul class="breadcrumb-v4-in">
					<li><a href="start.html">Home</a></li>
					<li class="active">Register</li>
				</ul>
			</div><!--/end container-->
		</div>
		<!--=== End Breadcrumbs v4 ===-->

		<!--=== Registre ===-->
		<div class="log-reg-v3 content-md margin-bottom-30">
			<div class="container">
				<div class="row">
					<div class="col-md-7 md-margin-bottom-50">
						<h2 class="welcome-title">Welcome to Unify</h2>
						<p>Suspendisse et tincidunt ipsum, et dignissim urna. Vestibulum nisl tortor, gravida at magna et, suscipit vehicula massa.</p><br/>
						<div class="row margin-bottom-50">
							<div class="col-sm-4 md-margin-bottom-20">
								<div class="site-statistics">
									<span>20,039</span>
									<small>Products</small>
								</div>
							</div>
							<div class="col-sm-4 md-margin-bottom-20">
								<div class="site-statistics">
									<span>54,283</span>
									<small>Reviews</small>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="site-statistics">
									<span>376k</span>
									<small>Sale</small>
								</div>
							</div>
						</div>
						<div class="members-number">
							<h3>Join more than <span class="shop-green">13,000</span> members worldwide</h3>
							<img class="img-responsive" src="assets/img/map.png" alt=""></img>
						</div>
					</div>

					<div class="col-md-5">
						<form id="sky-form4" class="log-reg-block sky-form" method="post" th:action="@{/register}" th:object="${registerCommand}">
							<h2>Create New Account</h2>
							<ul th:if="${#fields.hasErrors('*')}">
							  <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
							</ul>
							<div class="login-input reg-input">
								<div class="row">
									<div class="col-sm-6">
										<section>
											<label class="input">
												<input type="text" th:field="*{firstName}" placeholder="First name" class="form-control"></input>
											</label>
										</section>
									</div>
									<div class="col-sm-6">
										<section>
											<label class="input">
												<input type="text" th:field="*{lastName}" placeholder="Last name" class="form-control"></input>
											</label>
										</section>
									</div>
								</div>
								<section>
									<label class="input">
										<input type="text" th:field="*{login}" placeholder="Username" class="form-control"></input>
									</label>
								</section>
								<section>
									<label class="input">
										<input type="email" th:field="*{email}" placeholder="Email address" class="form-control"></input>
									</label>
								</section>
								<section>
									<label class="input">
										<input type="password" th:field="*{password}" placeholder="Password" id="password" class="form-control"></input>
									</label>
								</section>
							</div>

							<label class="checkbox margin-bottom-10">
								<input type="checkbox" name="checkbox"/>
								<i></i>
								Subscribe to our newsletter to get the latest offers
							</label>
							<label class="checkbox margin-bottom-20">
								<input type="checkbox" name="checkbox"/>
								<i></i>
								I have read agreed with the <a href="#">terms &amp; conditions</a>
							</label>
							<button class="btn-u btn-u-sea-shop btn-block margin-bottom-20" type="submit">Create Account</button>
						</form>

						<div class="margin-bottom-20"></div>
						<p class="text-center">Already you have an account? <a href="login.html">Sign In</a></p>
					</div>
				</div><!--/end row-->
			</div><!--/end container-->
		</div>
		<!--=== End Register ===-->

		<!--=== Shop Subscribe ===-->
		<div th:replace="common :: subscribe">
		</div>
		<!--=== End Shop Subscribe ===-->

		<!--=== Footer v4 ===-->
		<div th:replace="common :: footerv4">
		</div>
		<!--=== End Footer v4 ===-->
	</div><!--/wrapper-->

	<!-- JS Global Compulsory -->
	<script src="assets/plugins/jquery/jquery.min.js"></script>
	<script src="assets/plugins/jquery/jquery-migrate.min.js"></script>
	<script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
	<!-- JS Implementing Plugins -->
	<script src="assets/plugins/back-to-top.js"></script>
	<script src="assets/plugins/smoothScroll.js"></script>
	<script src="assets/plugins/sky-forms-pro/skyforms/js/jquery.validate.min.js"></script>
	<script src="assets/plugins/scrollbar/js/jquery.mCustomScrollbar.concat.min.js"></script>
	<!-- JS Customization -->
	<script src="assets/js/custom.js"></script>
	<!-- JS Page Level -->
	<script src="assets/js/shop.app.js"></script>
	<script src="assets/js/plugins/style-switcher.js"></script>
	<script src="assets/js/forms/page_registration.js"></script>
	<script>
		jQuery(document).ready(function() {
			App.init();
			App.initScrollBar();
			Registration.initRegistration();
			StyleSwitcher.initStyleSwitcher();
		});
	</script>

<!--[if lt IE 9]>
	<script src="assets/plugins/respond.js"></script>
	<script src="assets/plugins/html5shiv.js"></script>
	<script src="assets/js/plugins/placeholder-IE-fixes.js"></script>
	<script src="assets/plugins/sky-forms-pro/skyforms/js/sky-forms-ie8.js"></script>
	<![endif]-->
<!--[if lt IE 10]>
	<script src="assets/plugins/sky-forms-pro/skyforms/js/jquery.placeholder.min.js"></script>
	<![endif]-->

</body>
</html>
